body{
    background: transparent url(./image/fond-page.png) no-repeat center/100% 100%;
    background-size: cover;
}

.texte{
    font-size: 5px;
}
.texte1{
    font-size: 8px;
    min-height: 26rem;
}
.rempli{
  background: url(./image/fond-carte.jpg) no-repeat center/100% 100%;   
}

.card{
    box-shadow: 0px 0px 0px 10px #CCCCCC;
}



@media only screen and (max-width:768px){
    .gauche{
        order: 2;
       
    }
    .droite{
        order: 3;    
    }
    .milieu{
        order: 1;
     
    }
    .choisi{
        max-width: 150px;
       
    }
    h3{
        font-size: 5px;
    }  
}